{% extends "layout.html" %} {% block title %}Login{% endblock %} {% block head
%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>    
{% endblock %} {% block content %}
<div class="login-container">
  <form id="loginForm" class="login-form">
    <div class="back-container">
      <a href="/" class="back_btn">X</a>
    </div>
    <h2>Login</h2>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter your email" required />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Enter your password"
        required
      />
    </div>

    <button type="submit" class="login-button">Login</button>

    <p class="register-link">
      Don't have an account?
      <a href="{{ url_for('auth.register') }}">Register here</a>
    </p>

    <p class="reset-password-link">
      <a href="{{ url_for('auth.reset_password_request') }}"> Forgate Password</a>
    </p>
  </form>
</div>

<script>

  document
    .getElementById("loginForm")
    .addEventListener("submit", async function (e) {
      e.preventDefault();

      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;

      const response = await fetch("/auth/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ email, password }),
      });

      const data = await response.json();

      if (response.ok && data.access_token) {
        localStorage.setItem("access_token", data.access_token);
        localStorage.setItem("user_id", data.user_id);
        if (data.primium_user){
          window.location.href = '/stripe/primium_page'
        }
        else{
          window.location.href = '/';
        }
      } else {
        alert(data.message || "Login failed");
      }
    });
</script>
{% endblock %}
