<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Request Password Reset</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset_password_request.css') }}"
    />
  </head>
  <body>
    <div class="request-container">
       <div class="reset-container">
      <div class="back-container">
      <a href="/" class="back_btn">X</a>
    </div>
      <h2>🔑 Forgot Your Password?</h2>
      <p>
        Enter your email address below and we'll send you a link to reset your
        password.
      </p>

      <form method="POST" action="/reset-password-request" id="request-form">
        
        <label for="email">Email Address</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
        />

        <button type="submit">Send Reset Link</button>
      </form>
    </div>

    <script>
      document
        .getElementById("request-form")
        .addEventListener("submit", async function (e) {
          e.preventDefault();

          const email = document.getElementById("email").value.trim();

          fetch(`/auth/reset-password-request`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({email}),
          })
            .then((res) => {
                return res.json();
            })
            .then((data) => {
              if(data.success){
                alert(data.success)
                window.location.href = '/'
              }else{
                alert(data.error)
              }
            })
        });
    </script>
  </body>
</html>
