<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset Password</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset_password.css') }}"
    />
  </head>
  <body>
    <div class="reset-container">
      <div class="back-container">
      <a href="/" class="back_btn">X</a>
    </div>
      <h2>🔐 Reset Your Password</h2>
      <form method="POST" id="password-form">
       
        <label for="password">New Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter new password"
          required
        />

        <button type="submit">Reset Password</button>
      </form>
    </div>

    <script>
      const currentURL = window.location.href;
      const token = currentURL.split("/reset-password/")[1];

      document
        .getElementById("password-form")
        .addEventListener("submit", async function (e) {
          e.preventDefault();

          const password = document.getElementById("password").value.trim();

          fetch(`/auth/reset-password/${token}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ password }),
          })
            .then((res) => {
              return res.json();
            })
            .then((data) => {
              if (data.success) {
                alert(data.success);
                window.location.href = "/";
              } else {
                alert(data.error);
              }
            });
        });
    </script>
  </body>
</html>
